<!DOCTYPE html>
<html>
  <head>
    <title>Pushup Tracker</title>
  </head>
  <body>
    <h1>Pushup Tracker</h1>
    <p>Welcome to Pushup tracker app</p>
    <main> 
      
    </main>
  </body>
</html>